

<ng-container *ngIf="showedHistoricalData; else loadingTemplate">


  <app-historical-data-list-dates-filter></app-historical-data-list-dates-filter>


  <div class="flex justify-between my-5">
    <app-historical-data-list-type-filter></app-historical-data-list-type-filter>
    <app-historical-data-list-visual-selector [(visualSelector)]="visualSelector"></app-historical-data-list-visual-selector>
  </div>

  <div class="h-[500px] pb-10"
    [ngClass]="{'grid gap-2 grid-cols-2': visualSelector === 'cards'}">
    <ng-container *ngFor="let each of showedHistoricalData">
      <div
        [ngClass]="{
          'bg-gray-100 p-3 py-1 rounded-md': visualSelector === 'cards',
          'flex p-1 gap-1': visualSelector === 'list'
        }">
        <div [innerHTML]="each.html"></div>
        <div (click)="onSelectElement(each)" class="cursor-pointer text-blue-300 text-right">Ver Detalles</div>
      </div>
    </ng-container>
  </div>
  <app-historical-data-list-pagination></app-historical-data-list-pagination>

</ng-container>

<ng-template #loadingTemplate>
  Loading...
</ng-template>

<app-historical-data-detail></app-historical-data-detail>


